<!--=================================
our-menu -->

<div *ngIf="!loader" id="loading">
  <div id="loading-center">
    <img src="/assets/images/ajax-loader.gif" alt="">
  </div>
</div>
<ng2-toasty [position]="'top-center'"></ng2-toasty>
<section *ngIf="loader" class="our-menu page-section-pt parallax pb-30">
  <div class="row" style="background-size: cover;background-repeat: no-repeat;background-image: url(/assets/images/Food-Images.jpg)">
    <div id="menuTitle" class="col-lg-12 col-md-12">
      <div class="section-title text-center">
        <div class="title-separator">
          <div class="knife-cart ">
            <!-- <i class="line col-xs-1"></i> -->
            <img src="/assets/images/knife.png" class="img-responsive">
            <!-- <i class="line col-xs-1"></i> -->
          </div>
        </div>
        <h2> <span class="text-orange">{{subCategoryName}}</span></h2>
        <ul class="page-breadcrumb">
          <li><a [routerLink]="['../../']"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
          <li><a [routerLink]="['../']">{{categoryName}}</a><i class="fa fa-angle-double-right"></i></li>
          <li><a [routerLink]="['./']">{{subCategoryName}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="knife-cart ">
        <!-- <i class="line col-xs-1"></i> -->
        <img src="/assets/images/knife.png" class="img-responsive">
        <!-- <i class="line col-xs-1"></i> -->
      </div>
      <p id="title">Menu</p>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="container" style="margin-top: 5%;">
    <div class="row">
      <div class="col-sm-12">
        <div class="tabs clearfix">

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" style="display: block;" class="tab-pane fade in" id="tab-1">
              <ng-container>
                <div class="row">
                  <div *ngFor="let subOfsubCategory of subOfSubCategories;let i=index" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="menu-body menu-left">
                      <div class="menu-thumbnail">
                        <img class="img-responsive center-block" [src]="subOfsubCategory.imageUrl.thumbnail" alt="">
                      </div>
                      <div class="menu-details">
                        <div class="menu-title clearfix">
                          <p>{{subOfsubCategory.productName}}</p>
                          <span class="basePrice">RS.{{subOfsubCategory.basePriceUnit}}</span>
                          <h1 class="description">{{subOfsubCategory.description}}</h1>
                          <div class="addCart">
                            <!--<a [ngClass]="count==0?'disabled':''" (click)="subOfsubCategory.minValue > 2 && removeItem(i)" id="minus">-</a>
                        <p id="count">{{subOfsubCategory.minValue}}</p>
                        <a (click)="addItem(i)" id="plus">+</a>-->
                            <a (click)="addItem(subOfsubCategory._id)" id="add">ADD</a>
                            <p id="minOrder"><b>Min Order:</b> {{subOfsubCategory.minValue}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-login-modal #childModal [title]="'Login'"></app-login-modal>

<!--=================================
special-menu -->
<hr />
<app-today-special-menu></app-today-special-menu>
<hr />
<app-how-it-works></app-how-it-works>