<header id="header" [ngClass]="{'page-scroll-header': isScrolled}" class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
        <a class="navbar-brand amhungry-logo" [routerLink]="['../']"><img [ngClass]="{'page-scroll-header-img': isScrolled}" id="logo_img" src="/assets/images/amhungry-logo.png" alt="logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/home']" href="javascript:void(0)"> Home </a>
          </li>
          <li><a style="cursor: pointer;" (click)="open()">Login</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Menu&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!--<li *ngFor="let category of categories">
              </li>-->
              <li *ngFor="let day of days;let i=index">
                  <a *ngIf="day !== 'Tuesday'" (click)="dayName==day.toLowerCase() && openMenu(day.toLowerCase())" [ngClass]="dayName==day.toLowerCase()?'makeClikable':'disabled'" >
                    {{day}}
                  </a>
                  <!--<a [ngClass]="dayName==days[1].toLowerC?'makeClikable':'disabled'" (click)="dayName==days[1] && openMenu(days[1])">
                    Monday's Menu
                </a>-->
              </li>
              <!--<li>
                <a [ngClass]="dayName==days[1].toLowerC?'makeClikable':'disabled'" (click)="dayName==days[1] && openMenu(days[1])">
                    Monday's Menu
                </a>
              </li>
              <li>
                <a [ngClass]="dayName==days[3]?'makeClikable':'disabled'" (click)="dayName==days[3] && openMenu(days[3])">
                    Wednesday's Menu
                </a>
              </li>
              <li>
                <a [ngClass]="dayName=='THURSDAY'?'makeClikable':'disabled'" (click)="dayName=='THURSDAY' && openMenu('THURSDAY')">
                    THURSDAY
                </a>
              </li>
              <li>
                <a [ngClass]="dayName=='FRIDAY'?'makeClikable':'disabled'" (click)="dayName=='FRIDAY' && openMenu('FRIDAY')">
                    FRIDAY
                </a>
              </li>
              <li>
                <a [ngClass]="dayName=='SATURDAY'?'makeClikable':'disabled'" (click)="dayName=='SATURDAY' && openMenu('SATURDAY')">
                    SATURDAY
                </a>
              </li>
              <li>
                <a [ngClass]="dayName=='SUNDAY' ?'makeClikable':'disabled'" (click)="dayName=='SUNDAY' && openMenu('SUNDAY')">
                    SUNDAY
                </a>
              </li>-->
            </ul>
          </li>
          <li><a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['./', 'about']">About us</a>
          </li>
          <li><a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['./', 'contact']"> Contact us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <img (click)="open()" id="cart" src="/assets/images/shopping_cart.png" />
</header>
<app-login-modal #childModal [title]="'Login'"></app-login-modal>