<div id="how">
  <div class="container">
    <div class="row ">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="howItWorks-title col-lg-12 col-xs-12">
          <h1>How it works</h1>
        </div>
        <div class="col-lg-12 col-xs-12">
          <div class="row clearfix margin">
            <div class="col-lg-4 col-xs-4 mar">
              <div class="line">
              </div>
            </div>
            <div class="col-lg-4 col-xs-4">
              <div class="knife ">
                <!-- <i class="line col-xs-1"></i> -->
                <img src="/assets/images/knife.png" class="img-responsive">
                <!-- <i class="line col-xs-1"></i> -->
              </div>
            </div>
            <div class="col-lg-4  col-xs-4">
              <div class="line">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="gap"></div>
  </div>
</div>
<div>
  <div class="container">
    <div class="row ">
      <!--<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="work col-lg-10 col-md-10 c0l-sm-12 col-xs-12">
          <p class="icons">
            <img src="/assets/images/first.png">
          </p>
          <div class="gap30"></div>
          <p class="heading">
            Choose a Combo
          </p>
          <p class="text">
            Choice of combos are available for Breakfast, Lunch and Dinner. Select a combo and subscribe in 3 steps.
          </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="work">
            <p class="arrow clearfix">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>-->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="work col-lg-10 col-md-10 c0l-sm-12 col-xs-12">
          <p class="icons">
            <!-- <i class="line col-xs-1"></i> -->
            <img src="/assets/images/second.png">
            <!-- <i class="line col-xs-1"></i> -->
          </p>
          <div class="gap30"></div>
          <p class="heading">
            Subscribe and save
          </p>
          <p class="text">
            Subscribe for 3-25 days as per your liking. For trial, we recommend 3 days subscription.
          </p>
        </div>
      </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="work">
            <p class="arrow clearfix">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="work col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p class="icons">
            <!-- <i class="line col-xs-1"></i> -->
            <img src="/assets/images/orange-handshake-94.png">
            <!-- <i class="line col-xs-1"></i> -->

          </p>
          <div class="icon-gap-in-rel-image"></div>
          <p class="heading">
            Relationship Goals!
          </p>
          <p class="text">
            Our relationship has to be unique and personal. If it begins this way, this is the way it begins. CURRY leaves
            PLATE just wants to be good you eat. We change our menu everyday. The team handcrafts four dishes everyday;
            Green Veggies;Dal;Panner;Chicken. SIze of serving poertions make for a better meal. Each portion comes complemented
             with Tawa Lachha Parantha.
          </p>
        </div>
      </div>
    </div>
    <div class="gap">
    </div>
  </div>
</div>